[core]
  excludesfile = $HOME/.gitignore_global
  editor = vim -c \"set fenc=utf-8\"
[user]
  name = ystkme
  email = bloom6445@gmail.com
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[github]
  user = ystkme
[color]
  ui = auto
[alias]
  a	= add
  b  	= branch
  br    = browse
  c  	= commit -v
  ca 	= commit --amend
  co 	= checkout
  d  	= diff
  l		= log --graph --date=short --pretty='%C(yellow)%h%Creset %C(cyan bold)%d%Creset %s %Cgreen[%cd]%Creset' --decorate
  p  	= push
  pl 	= !git pull && git submodule update --init
  mg    = merge
  rb    = rebase
  s  	= status
  st    = stash
[push]
  default = simple
[init]
  templatedir = ~/.git_tmp
