"*":
  core:
    disabledPackages: [
      "welcome"
      "go-to-line"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
      "dash"
      "rails-transporter"
      "ruby-block"
      "git-plus"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "native-ui"
      "atom-light-syntax"
    ]
  editor:
    audioBeep: false
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    scrollPastEnd: true
    preferredLineLength: 1000
    tabType: "soft"
    showInvisibles: true
    fontSize: 13
    fontFamily: "Ricty Diminished"
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "a4134265-e650-47ca-aa99-9dd91cba36a7"
  "atom-color-highlight":
    scopes:
      css: "css"
      scss: "scss"
      less: "less"
      sass: "sass"
      stylus: "stylus"
    hideMarkersInComments: true
    hideMarkersInStrings: true
  "autocomplete-plus":
    autoActivationDelay: 0
    minimumWordLength: 1
    confirmCompletion: "tab"
    maxVisibleSuggestions: 15
  "exception-reporting":
    userId: "b9bd8307-6a1b-1da6-3e85-434e50b7cb26"
  "git-diff":
    showIconsInEditorGutter: true
  jslint:
    validateOnChange: true
    hideOnNoErrors: true
  "linter-scss-lint":
    executablePath: "/Users/seiyayoshitaka/.rbenv/shims/scss-lint"
  pigments:
    ignoredScopes: [
      "^(?!\\.source\\.[css|sass|scss|less|styl]).*"
    ]
    autocompleteScopes: [
      ".source.css"
      ".source.sass"
      ".source.scss"
      ".source.less"
      ".source.styl"
    ]
    markerType: "dot"
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  tabs:
    tabScrolling: true
    enableVcsColoring: true
  zentabs:
    maximumOpenedTabs: 7
    neverCloseUnsaved: true
  minimap:
    plugins:
      "minimap-autohide": true
      "git-diff": true
  "markdown-preview":
    useGitHubStyle: true
  emmet: {}
  autosave:
    enabled: true
  linter:
    showErrorTabLine: true
    statusIconScope: "File"
    showErrorPanel: false
  "clipboard-plus":
    limit: 20
  "browser-plus": {}
  "atom-terminal":
    surpressDirectoryArgument: false
    app: "iTerm.app"
  "open-terminal-here":
    command: "open -a $HOME/Applications/iTerm.app \"$PWD\""
  "one-light-ui": {}
  "atom-ternjs": {}
  "vim-surround":
    pairs: [
      "()"
      "[]"
      "{}"
      "\"\""
      "''"
      "``"
      "||"
      "//"
      "<>"
    ]
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "yosemate-ui":
    showIcons: true
    colorStatusIndicatorsInTreeView: true
  "advanced-open-file":
    helmDirSwitch: true
    defaultInputValue: "Project root"
  preview:
    _analyticsUserId: "23cd23d5-ecf4-4843-83a8-93d3e457ac2d"
  "atom-csscomb":
    executeOnSave: true
    configureWithJSON: true
  "atom-css-comb":
    projectConfigs: ".csscomb.json"
  "one-dark-ui": {}
  "sass-autocompile":
    outputStyle: "Expanded"
  "preview-plus": {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
    incrementalSearch: true
    useSmartcaseForSearch: true
    showHoverSearchCounter: true
    flashOnSearch: false
    stayOnTransformString: true
    showHoverOnOperate: true
    flashOnOperate: false
  "project-folder":
    projectRootDirectories: [
      "~/dotfiles"
      "~/github"
      "~/Dropbox/jekyll"
      "~/Documents"
      "~/MyVagrant"
    ]
    hideLoadedFolderFromAddList: false
  "find-and-replace": {}
  "linter-sass-lint": {}
  "linter-eslint": {}
  "linter-ruby": {}
  "rubocop-auto-correct": {}
  "git-history": {}
  "ruby-block": {}
  "rails-transporter": {}
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "symbols-view": {}
  "git-plus": {}
  "tool-bar":
    position: "Left"
    iconSize: "16px"
  "tree-view-git-status": {}
  "flex-tool-bar":
    showConfigButton: false
  "symbols-tree-view": {}
  "seeing-is-believing":
    "add-to-env": {}
  "terminal-panel": {}
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".css.scss.source":
  editor:
    preferredLineLength: 100
".js.regexp.source":
  editor:
    preferredLineLength: 100
".basic.html.text":
  editor:
    preferredLineLength: 100
    tabLength: 2
".gohtml.html.text":
  editor:
    preferredLineLength: 100
".erb.html.text":
  editor:
    preferredLineLength: 1000
".litcoffee.source":
  editor:
    preferredLineLength: 1000
".coffee.source":
  editor:
    preferredLineLength: 1000
".diff.source":
  editor:
    preferredLineLength: 1000
".sass.source":
  editor:
    preferredLineLength: 1000
".css.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".gfm.source":
  editor:
    preferredLineLength: 100
".go.source":
  editor:
    preferredLineLength: 100
".gotemplate.source":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 1000
".source.stylus":
  editor:
    preferredLineLength: 1000
".ruby.source":
  editor:
    preferredLineLength: 1000
".preview":
  editor:
    preferredLineLength: 1000
