"*":
  core:
    disabledPackages: [
      "welcome"
      "go-to-line"
      "wrap-guide"
      "background-tips"
    ]
    packagesWithKeymapsDisabled: [
      "dash"
      "rails-transporter"
      "ruby-block"
      "git-plus"
      "gist-it"
      "atom-csscomb"
      "atom-beautify"
      "symbol-gen"
      "merge-conflicts"
      "zentabs"
      "git-diff"
      "open-on-bitbucket"
      "rails-model-schema"
      "linter"
      "symbols-tree-view"
      "move-panes"
      "atom-alignment"
      "sort-lines"
      "ruby-test"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "dark-flat-ui"
      "outlander-syntax"
    ]
    destroyEmptyPanes: false
  editor:
    audioBeep: false
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    scrollPastEnd: true
    preferredLineLength: 1000
    tabType: "soft"
    showInvisibles: true
    fontFamily: "Ricty Diminished"
    fontSize: 12
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "a4134265-e650-47ca-aa99-9dd91cba36a7"
    css_indent_comments: false
  "atom-color-highlight":
    scopes:
      css: "css"
      scss: "scss"
      less: "less"
      sass: "sass"
      stylus: "stylus"
    hideMarkersInComments: true
    hideMarkersInStrings: true
  "autocomplete-plus":
    autoActivationDelay: 0
    minimumWordLength: 1
    confirmCompletion: "tab"
    maxVisibleSuggestions: 15
  "exception-reporting":
    userId: "b9bd8307-6a1b-1da6-3e85-434e50b7cb26"
  "git-diff":
    showIconsInEditorGutter: true
  jslint:
    validateOnChange: true
    hideOnNoErrors: true
  "file-types":
    rb: "source.ruby.rails"
    erb: "text.html.ruby"
  "linter-scss-lint":
    executablePath: "/Users/seiyayoshitaka/.rbenv/shims/scss-lint"
  pigments:
    ignoredScopes: [
      "^(?!\\.source\\.[css|sass|scss|less|styl]).*"
    ]
    autocompleteScopes: [
      ".source.css"
      ".source.sass"
      ".source.scss"
      ".source.less"
      ".source.styl"
    ]
    markerType: "dot"
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideIgnoredNames: true
  tabs:
    tabScrolling: true
    enableVcsColoring: true
  zentabs:
    neverCloseUnsaved: true
    showPinnedIcon: false
    maximumOpenedTabs: 8
  minimap:
    plugins:
      "minimap-autohide": true
      "git-diff": true
  "markdown-preview":
    useGitHubStyle: true
  linter:
    statusIconScope: "File"
  "clipboard-plus":
    limit: 20
  "atom-ternjs": {}
  "advanced-open-file":
    helmDirSwitch: true
    defaultInputValue: "Project root"
  preview:
    _analyticsUserId: "23cd23d5-ecf4-4843-83a8-93d3e457ac2d"
  "sass-autocompile":
    outputStyle: "Expanded"
  "preview-plus": {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
    incrementalSearch: true
    useSmartcaseForSearch: true
    showHoverSearchCounter: true
    flashOnSearch: false
    stayOnTransformString: true
    showHoverOnOperate: true
    flashOnOperate: false
  "project-folder":
    projectRootDirectories: [
      "~/dotfiles"
      "~/github"
      "~/Dropbox/jekyll"
      "~/Documents"
      "~/Vagrant"
    ]
    hideLoadedFolderFromAddList: false
  "find-and-replace": {}
  "linter-sass-lint":
    configPath: "Users/seiyayoshitaka/.sass-lint.yml"
  "linter-eslint": {}
  "rubocop-auto-correct":
    rubocopCommandPath: '''
      ~/.rbenv/shims/rubocop
      
      
    '''
    autoRun: true
    correctFile: true
  "git-history": {}
  "ruby-block":
    showBottomPanel: false
    highlightLineNumber: true
    highlightLine: false
  "rails-transporter": {}
  "symbols-view": {}
  "git-plus": {}
  "tree-view-git-status": {}
  "symbols-tree-view": {}
  "seeing-is-believing":
    "add-to-env": {}
  "terminal-panel": {}
  "cursor-history": {}
  robe: {}
  "ruby-block-converter": {}
  "gist-it":
    newGistsDefaultToPrivate: true
    userToken: "51d4ddc05c435593efdbeb8d2ae4ef9e7a0814c0"
  "japanese-wrap":
    characterWidth: {}
  "atom-csscomb":
    executeOnSave: true
    configureWithJSON: true
  "atom-css-comb":
    readyMadeConfigs: "csscomb"
    projectConfigs: ".csscomb.json"
  "linter-rubocop":
    command: "/Users/seiyayoshitaka/.rbenv/shims/rubocop"
  "linter-ruby": {}
  "merge-conflicts": {}
  "web-search":
    browser: {}
    webservice: [
      "http://google.com/search?q=$q$"
    ]
  "rails-model-schema":
    showImmediately: false
  "ruby-test": {}
  "atom-alignment": {}
  "paper-flat-ui": {}
  "highlight-column":
    lineMode: true
    opacity: 0.1
    enabled: false
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".erb.html.text":
  editor:
    preferredLineLength: 1000
".gohtml.html.text":
  editor:
    preferredLineLength: 100
".basic.html.text":
  editor:
    preferredLineLength: 100
    tabLength: 2
".js.regexp.source":
  editor:
    preferredLineLength: 100
".css.scss.source":
  editor:
    preferredLineLength: 100
".diff.source":
  editor:
    preferredLineLength: 1000
".ruby.source":
  editor:
    preferredLineLength: 1000
".source.stylus":
  editor:
    preferredLineLength: 1000
".ini.source":
  editor:
    preferredLineLength: 1000
".gotemplate.source":
  editor:
    preferredLineLength: 100
".go.source":
  editor:
    preferredLineLength: 100
".gfm.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".css.source":
  editor:
    preferredLineLength: 100
".sass.source":
  editor:
    preferredLineLength: 1000
".coffee.source":
  editor:
    preferredLineLength: 1000
".litcoffee.source":
  editor:
    preferredLineLength: 1000
".preview":
  editor:
    preferredLineLength: 1000
