# body
'body':
  'cmd-o': 'unset!'
  'ctrl-j': 'core:cancel'
  'ctrl-m': 'core:confirm'

'atom-text-editor':
  'cmd-\'': 'dash:shortcut' # dash
  'cmd-ctrl-\'': 'dash:shortcut-alt'
  'ctrl-k': 'unset!' # for snippets
  'ctrl-m': 'unset!'

'atom-text-editor:not([mini])':
  'ctrl-k': 'snippets:expand' # snippets

'.select-list atom-text-editor[mini]':
  'ctrl-m': 'core:confirm'

'.platform-darwin atom-workspace':
  # advanced-open-file
  'cmd-o': 'advanced-open-file:toggle'

# autocomplete
'atom-text-editor:not(mini) .autocomplete-plus.autocomplete-suggestion-list':
  'up': 'unset!'
  'down': 'unset!'

# project-manager
'.project-manager input':
  'ctrl-m': 'core:confirm'

# tree-view
'.platform-darwin .tree-view':
  'y y': 'tree-view:copy'
  'p p': 'tree-view:paste'
'.tree-view':
  'd d': 'tree-view:remove'
  'g g': 'core:move-to-top'
  'shift-g': 'core:move-to-bottom'
  'ctrl-m': 'tree-view:open-selected-entry'
  'ctrl-[': 'tree-view:toggle-focus'
'.tree-view-dialog atom-text-editor[mini]':
  'ctrl-m': 'core:confirm'

# vim-mode
'atom-text-editor.vim-mode':
  'ctrl-j': 'vim-mode:activate-normal-mode'
  'ctrl-j': 'vim-mode:reset-normal-mode'
  'ctrl-[': 'tree-view:toggle-focus'

# vim-mode (normal)
'atom-text-editor.vim-mode.normal-mode':
  'ctrl-h': 'pane:show-previous-item'
  'ctrl-l': 'pane:show-next-item'
  # bracket-matcher
  'tab': 'bracket-matcher:go-to-matching-bracket'
  # vim-mode-clipboard-plus
  'ctrl-p': 'clipboard-plus:toggle'

# vim-mode (insert)
'atom-text-editor.vim-mode.insert-mode':
  'ctrl-m': 'editor:newline'
  'ctrl-p': 'snippets:previous-tab-stop'
  'ctrl-t': 'editor:indent'
  'ctrl-k': 'snippets:next-tab-stop'
'atom-text-editor.vim-mode.insert-mode.autocomplete-active':
  'ctrl-k': 'autocomplete-plus:confirm'

# vim-mode(visual-mode)
'atom-text-editor.vim-mode.visual-mode':
  's': 'unset!'
  'ctrl-j': 'vim-mode-visual-block:escape'
