# body
'body':
  'ctrl-m': 'core:confirm'
'atom-text-editor':
  'ctrl-k': 'unset!'
# select-list
'.select-list atom-text-editor[mini]':
  'ctrl-m': 'core:confirm'

# autocomplete
'atom-text-editor:not(mini) .autocomplete-plus.autocomplete-suggestion-list':
  'up': 'unset!'
  'down': 'unset!'
  'ctrl-p': 'autocomplete-plus:select-previous'
  'ctrl-n': 'autocomplete-plus:select-next'
'atom-text-editor.autocomplete-active':
  'tab': 'unset!'
  'ctrl-k': 'autocomplete-plus:confirm'

# dash
'atom-text-editor':
  'cmd-;': 'dash:shortcut'
  'cmd-ctrl-;': 'dash:shortcut-alt'

# project-manager
'.project-manager input':
  'ctrl-m': 'core:confirm'

# tree-view
'.platform-darwin':
  'ctrl-;': 'tree-view:toggle-focus'
'.platform-darwin .tree-view':
  'y y': 'tree-view:copy'
  'p p': 'tree-view:paste'
'.tree-view':
  'd d': 'tree-view:remove'
  'g g': 'core:move-to-top'
  'shift-g': 'core:move-to-bottom'
  'ctrl-m': 'tree-view:open-selected-entry'
'.tree-view-dialog atom-text-editor[mini]':
  'ctrl-m': 'core:confirm'

# vim-mode (insert)
'atom-text-editor.vim-mode.insert-mode':
  'ctrl-m': 'editor:newline'

# vim-mode (normal)
'atom-text-editor.vim-mode':
  'ctrl-j': 'vim-mode:reset-normal-mode'
  'ctrl-j': 'vim-mode:activate-normal-mode'
'.platform-darwin atom-text-editor.vim-mode:not(.insert-mode)':
  # vim-mode-clipboard-plus
  'ctrl-p': 'clipboard-plus:toggle'
  # bracket-matcher
  'tab': 'bracket-matcher:go-to-matching-bracket'
