body,
html {
  font-family: "ricty diminished";
}
.tree-view {
  font-size: 10px;
  span.icon:before {
    font-size: 10pt;
  }
}

// hide scroll bar
atom-text-editor .vertical-scrollbar,
atom-text-editor::shadow .vertical-scrollbar {
  opacity: 0;
  width: 0;
}

// Stand out active panel
.vertical {
  .pane {
    opacity: 0.9;
    &.active {
      opacity: 1;
    }
  }
}

// Git status for tabs
li.tab > .status-added {
  color: #2da819;
}
li.tab > .status-modified {
  color: #e48625;
}

// Change color if commit message is too long
.editor .git-commit.line-too-long.deprecated {
  color: #ec9439;
  text-decoration: none;
}
.editor .git-commit.line-too-long.illegal {
  color: #fff;
  background: #da2c43;
  opacity: 0.9;
}
