[
  {
    type: "button"
    icon: "git-branch"
    callback: "open-gitup:open"
    tooltip: "Open GitUp"
  }
  {
    type: "button"
    icon: "social-github"
    iconset: "ion"
    callback: "open-on-github:repository"
    tooltip: "Open on GitHub"
  }
  {
    type: "button"
    icon: "code"
    callback: "script:run"
    tooltip: "Run Script"
  }
  {
    type: "button"
    icon: "eye"
    callback: "preview:toggle"
    tooltip: "Preview"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "ruby-plain"
    iconset: "devicon"
    callback: "seeing-is-believing:annotate-document"
    tooltip: "Seeing is Believing"
  }
  {
    type: "button"
    icon: "user-secret"
    iconset: "fa"
    callback: "rubocop-auto-correct:current-file"
    tooltip: "Rubocop Auto Correct"
  }
  {
    type: "button"
    icon: "rails-plain"
    iconset: "devicon"
    callback: "rails-model-schema:toggle"
    tooltip: "Model Schema"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "safari"
    iconset: "icomoon"
    callback: "open-in-browser:open"
    tooltip: "Open in Browser"
  }
  {
    type: "button"
    icon: "eyedropper"
    iconset: "fa"
    callback: "color-picker:open"
    tooltip: "Color Picker"
  }
  {
    type: "button"
    icon: "android-color-palette"
    iconset: "ion"
    callback: "pigments:show-palette"
    tooltip: "Pigments Palette"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "columns"
    iconset: "fa"
    callback: "pane:split-right"
    tooltip: "Split Right"
  }
  {
    type: "button"
    icon: "tools"
    callback: "window:toggle-dev-tools"
    tooltip: "Devtools"
  }
  {
    type: "button"
    icon: "refresh"
    iconset: "fa"
    callback: "window:reload"
    tooltip: "Reload"
  }
  {
    type: "button"
    icon: "gear"
    callback: "settings-view:open"
    tooltip: "Settings"
  }
]
